<div class="emoji-nav-bar"><%- include('../partials/emojinavbar') %></div>

<div class="emoji-gallery">
  <div class="title"><%=libname %></div>
  <% allemoji.forEach((emoji) => { %>

  <button
    onclick="callAddEmoji(`<%=emoji.url%>`, `<%=emoji.name%>`)"
    class="btn"
  >
    <img class="emoji" src="<%=emoji.url%>" alt="<%=emoji.name%>" />
  </button>
  <% }) %>
</div>

<!-- <script src="./eventlistener.js"></script> -->

<script>
  async function callAddEmoji(url, name) {
    const response = await fetch('/browse', {
      method: 'post',
      body: JSON.stringify({ url, name }),
      headers: {
        'Content-Type': 'application/json',
      },
    }).catch(console.log);
  }
</script>
