<style>
  .wrapper {
height: 100%;
background-color: #dedede;
  }

  .emoji-details {
    margin-top: 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .edit-emoji-div {
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
  }

  .edit-btn {
    height: 50px;
    width: 50px;
  }

  div#tags_tagsinput.tagsinput,
  input#name {
    border: 3px solid #7289da;
  }


  input#name{

    font-size: 20px;
  }


  button {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px;
    box-sizing: border-box;
  }

  button:hover{
    background-color: #7289da;
  }

  .slide {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    z-index: 10000;
     display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 0px;

  }
  .hidden {
    display: none;
  }

  .text {
    font-size: 50px;
    text-transform: uppercase;
  }

  .text:hover{
    color: #7289da;
  }


</style>
<div class="wrapper">
<div class="container-light scrollbar">
  <div class="emoji-details">
    <img src="<%=emojiData.url%>" />
    <div class="title">NAME: <%=emojiData.name%></div>
  </div>

  <div class="edit-emoji-div">
    <div id="delete-vis" class="text">DELETE</div>
    <div id="delete-slide" class="slide hidden">


      <button
        onclick="callDeleteEmoji(`<%= emojiData.id%>`)"
        class="edit-btn"
        id="deleteEmoji"
      >
        <img class="edit-btn" src="/img/delete-1.png" />
      </button>
    </div>

    <div id="name-vis" class="text">EDIT NAME</div>
    <div id="name-slide" class="name-input slide hidden">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="New name for: '<%=emojiData.name%>'"
      />
      <input type="hidden" id="id" name="id" value="<%=emojiData.id%>" />
      <button type="button" name="name" id="submitname">Submit</button>
    </div>

    <div id="tags-vis" class="text">ADD TAGS</div>
    <div id="tags-slide" class="tags-input slide hidden">
      <form id="tag-form">
        <input
          class="tags-go-here"
          id="tags"
          type="text"
          class="tags"
          value="  <% emojiTags.forEach(tag =>{ %>
            <%=tag.name%>,
            <%})%>"
          style="display: none"
        />
        <input type="hidden" id="form-name-id" value="<%=emojiData.id%>" />
        <button type="button" value="Submit" id="submit">Submit</button>
      </form>

      <ul
        class="tag-list"
        class="ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all"
        role="listbox"
        aria-activedescendant="ui-active-menuitem"
        style="z-index: 1; top: 0px; left: 0px; display: none"
      ></ul>
    </div>
  </div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css"
/>
<link
  rel="stylesheet"
  href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>
  //jquery
  $(function () {
    $('#tags').tagsInput({
      width: 'auto',
      onChange: function (elem, elem_tags) {
        // make a call to db to get the existing tags
        var specialTags = ['owo', 'uwu'];
        $('#tags').val(specialTags);
        $('.tag', elem_tags).each(function () {
          if (
            $(this)
              .text()
              .search(new RegExp('\\b(' + specialTags.join('|') + ')\\b')) >= 0
          )
            $(this).css({ 'background-color': '#7289da', color: 'white' });
        });
      },
    });
  });

  $(document).ready(function () {
    $('#submit').click(function () {
      $('#submit').click(function () {
        $.ajax({
          type: 'PUT',
          url: '/create/edit/tags',
          data: { tags: $('#tags').val(), id: $('#form-name-id').val() },
        });
      });
    });
  });


  let active;

  function handleClick(element) {
    if (element !== active && active) {
      $(active).hide();
    }
    $(element).slideDown();
    active = element;
  }

  const buttons = ['delete', 'name', 'tags'];
  for (const button of buttons) {
    $(`#${button}-vis`).click(() => {
      handleClick(`#${button}-slide`);
    });
  }

  //functions
  async function callDeleteEmoji(emojiID) {
    const response = await fetch('/create/delete', {
      method: 'delete',
      body: JSON.stringify({ emojiID }),
      headers: {
        'Content-Type': 'application/json',
      },
    }).catch(console.log);
  }

  function gotoEdit() {
    window.location = '/create/edit';
  }

  // updates the name
  document
    .getElementById('submitname')
    .addEventListener('click', async function () {
      let id = document.getElementById('id').value;
      let name = document.getElementById('name').value;

      console.log(name, id);

      const response = await fetch('/create/edit/name', {
        method: 'put',
        body: JSON.stringify({ id, name }),
        headers: {
          'Content-Type': 'application/json',
        },
      }).catch(console.log);

      // location.reload();
    });
</script>
