<style>
  #emojiDetails {
    height: 100%;
    overflow: auto;
    display: block flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .edit-btn {
    height: 50px;
    width: 50px;
  }
</style>

<div id="emojiDetails" class="container-light wrapper scrollbar">
  <% if (!emojiData) {%>
  <div>Please pick an emoji</div>

  <%} else {%>


    <img src="<%=emojiData.url%>" />


    <div class="title">Name: <%=emojiData.name%></div>

  <div>
    <button class="edit-btn" onclick="callEditEmoji()">
      <img class="edit-btn" src="../img/pencil-1.png" />
    </button>


    <button
      onclick="callDeleteEmoji(`<%= emojiData.id%>`)"
      class="edit-btn"
      id="deleteEmoji"
    >
      <img class="edit-btn" src="../img/delete-1.png" />
    </button>
  </div>
  <div>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="New name for: '<%=emojiData.name%>'"
    />
    <input
      type="hidden"
      id="id"
      name="id"
      value = "<%=emojiData.id%>"
    />
    <button type="button" name="name" id="submitname">Edit Name</button>
  </div>


  <%}%>
</div>








<script>


  async function callDeleteEmoji(emojiID) {
    const response = await fetch('http://localhost:5000/create/delete', {
      method: 'delete',
      body: JSON.stringify({ emojiID }),
      headers: {
        'Content-Type': 'application/json',
      },
    }).catch(console.log);
  }

  function gotoEdit() {
    window.location = '/create/edit';
  }

  document
    .getElementById('submitname')
    .addEventListener('click', async function () {

      let id = document.getElementById('id').value;
      let name = document.getElementById('name').value;


      console.log(name, id)

      const response = await fetch('http://localhost:5000/create/edit', {
        method: 'put',
        body: JSON.stringify({ id, name }),
        headers: {
          'Content-Type': 'application/json',
        },
      }).catch(console.log);

      // location.reload();
    });
</script>
