<style>
  #emojiDetails {
    height: 100%;
    overflow: auto;
    display: block flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }

  .edit-btn {
    height: 50px;
    width: 50px;
  }
</style>

<div id="emojiDetails" class="container-light wrapper scrollbar">

  <% if (!emojiData) {%>
  <div>Please pick an emoji</div>

  <%} else {%>

<%= emojiData%>

  <div>
    <img src="<%=emojiData.url%>" />
  </div>
  <div>
    <div class="title"><%=emojiData.name%></div>
  </div>
  <div>
    <button class="edit-btn" onclick="callEditEmoji()">
      <img class="edit-btn" src="../img/pencil-1.png" />
    </button>
  </div>
  <div>
    <button
      onclick="callDeleteEmoji(`<%= emojiData.id%>`)"
      class="edit-btn"
      id="deleteEmoji"
    >
      <img class="edit-btn" src="../img/delete-1.png" />
    </button>
  </div>
  <div>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="<%=emojiData.name%>"
    />
    <button type="button" name="name" id="put">Edit Name</button>
  </div>
  <div>
    <input
      type="text"
      id="tags"
      name="tags"
      placeholder="add tags separated by commas"
    />
    <button type="button" name="tags" id="tags">Add tags</button>
  </div>

  <%}%>
</div>

<script>
    async function callDeleteEmoji(emojiID) {

      const response = await fetch('http://localhost:5000/create/delete', {
        method: 'delete',
        body: JSON.stringify({ emojiID }),
        headers: {
          'Content-Type': 'application/json',
        },
      }).catch(console.log);
    }

    function gotoEdit() {
      window.location = '/create/edit';
    }

</script>
