
<div class="main-wrapper">
    <% for (const guild in emojisByGuild){ %>
    <div class="container-gradient main-guild-emoji">
      <div class="title"><%=guild%></div>
      <% if (!emojisByGuild[guild]){ %>
      <div>Add UwuMoji Bot to this server here! -- add link</div>
      <%} else {%> <% emojisByGuild[guild].forEach(emoji =>{ %>
        <button
        onclick="selectEmoji(`<%=emoji.id%>`,`<%=emoji.name%>`, `<%=emoji.url%>`)"
        class="btn"
      >
      <img class="emoji" src="<%=emoji.url %>" alt="<%=emoji.name%>" />
  </button>
      <%})%> <%}%>
    </div>
    <%}%>
  </div>
  <div class="my-emojis"><%- include('./partials/useremojis') %></div>
  <div class="emoji-details"><%= emojiID %></div>

  <script>

  async function selectEmoji(id, url, name) {
      const response = await fetch('/emojidetails', {
        method: 'put',
        body: JSON.stringify({ id, url, name }),
        headers: {
          'Content-Type': 'application/json',
        },
      }).catch(console.log);

      location.reload();
    }



  </script>